services:
  app:
    build:
      context: ..
      dockerfile: xdl-web/Dockerfile
    env_file: .env
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - internal

  # caddy:
  #   image: caddy:2
  #   ports:
  #     - "80:80"
  #     - "443:443"
  #   volumes:
  #     - ./Caddyfile:/etc/caddy/Caddyfile
  #     - caddy_data:/data
  #     - caddy_config:/config
  #   depends_on:
  #     - app
  #   restart: unless-stopped
  #   networks:
  #     - internal

# volumes:
#   caddy_data:
#   caddy_config:

networks:
  internal:
